<app-menu></app-menu>
<app-root></app-root>
<app-search-pokemon></app-search-pokemon>
<div *ngIf="isLoading" class=" d-flex justify-content-center" style="margin-top: 200px;">
  <div class="spinner-border" role="status">
    <span class="sr-only" style="margin-left: 5px;">Loading...</span>
  </div>
</div>
<div *ngIf="!isLoading" class="pokedex-container">
  <div class="pokedex-grid">
    <div *ngFor="let pokemon of globalList" class="pokemon-card" [routerLink]="['/pokemon', pokemon.pokedexId]">
      <img *ngIf="pokemon && pokemon.types && pokemon.types.length > 0"
        [style.background-color]="pokemonTypeColors[pokemon.types[0].name]"
        [src]="pokemon.sprites.regular?pokemon.sprites.regular:pokemon.sprites.shiny" alt="{{pokemon.name.fr}}">
      <p>{{ pokemon.name.fr }}</p>
      <p class="id">ID: {{ pokemon.pokedexId }}</p>
    </div>
  </div>
</div>
