body {
  background-color: #f3f3f3;
  font-family: 'Press Start 2P', cursive; /* Utilisez une police ressemblant à celle des jeux vidéo */
}

.pokedex-container {
  margin-left: -15px;
  margin-right: -15px;
}

.pokedex-logo {
  display: inline-block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}


.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #9aa1af; /* Ajouter une couleur de fond plus sombre */
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d8d8d8; /* Choisissez une couleur plus lumineuse pour les cartes de Pokémon */
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-card img {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.pokemon-card p {
  margin: 0;
  font-weight: bold;
  color: #282c34; /* Choisissez une couleur de texte plus foncée */
}

.pokemon-card .id {
  color: #888;
  font-size: 14px;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pokemon-card p {
  margin: 0;
  font-weight: bold;
  color: #333;
  margin-top: -5px;
}

.pokemon-card .id {
  color: #888;
  font-size: 14px;
}
