.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #e00000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 700px;
  max-height: 700px;
  margin: 0 auto;
}

.search-title {
  font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.card-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-button {
  background-color: #ee5353;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.card-button:hover {
  background-color: #cc4141;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #eee;
}


