<app-home></app-home>
<div class="card">
  <mat-form-field>
    <mat-select [formControl]="formCtrl" disableOptionCentering placeholder="blank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="formFilterCtrl" placeholderLabel="Search for a pokemon"
          noEntriesFoundLabel="No result"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let pokemon of filteredPokemon | async" [value]="pokemon.name.fr"
        (click)="selectPokemon(pokemon)">
        {{pokemon.name.fr}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<app-card [pokemonSelected]="pokemonSelected" [pokemonList]="pokemonList" [globalList]="globalList"></app-card>
