.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #e00000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 100%;
  max-height: 700px;
  margin: 0 auto;
  border-radius: 5px;
}

home-container.collapsed {
  display: none !important;
}
.logo {
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  gap: 10px;
}

.button-container-nav {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e00000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #b50000;
}

.home-container {
  transition: height 0.3s ease;
}

.collapsed {
  height: 0; /* ou toute autre valeur appropriée */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.button-collapse {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

.button-collapse:hover {
  transition: width 0.3s ease, height 0.3s ease;
  width: 70px;
  height: 70px;
}

